{% extends '../base.html' %}

{% block content %}
<body>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Hospital Management System</h1>
            <p class="col-lg-10 fs-4">An effifcient way to organize and track patient records and docotor's appointments</p>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="First Name">
                <label for="floatingInput">First name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Last Name">
                <label for="floatingInput">Last name</label>
              </div>
              <div class="form-floating mb-3">
                <select class="form-select" aria-label="Default select example" style="padding-top:0.625rem; padding-bottom:0.625rem;">
                  <option selected>Select account type</option>
                  <option value="patient">Patient</option>
                  <option value="health-worker">Health Worker</option>
                </select>
              </div>
              <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="floatingInput" placeholder="+234-xxx-xxx-xxxx">
                <label for="floatingInput">Phone Number</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Confirm Password</label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
              <hr class="my-4">
              <small class="text-muted">Already have an account? <a href={% url 'login' %}>Login here</a></small>
            </form>
          </div>
        </div>
      </div>

     <!--Bootstrap CDN (JS)-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> 
</body>
{% endblock %}