{% extends '../base.html' %}

{% block content %}
<header class="d-flex flex-wrap justify-content-center mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Welcome, Marvellous</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item pt-3 pb-2"><a href="javascript: {document.getElementById('logout').submit()}" class="nav-link">Logout</a></li>
        <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden"/>
          </form>
        
    </ul>
</header>


<div class="row">
    <h2 class="text-center mb-2">Available Health Workers</h2>
    <form class="d-flex pt-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search for health worker..." aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
</div>


<div class="row text-center mt-3">
    {% for worker in workers.all %}
    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                dy=".3em">100x100</text>
        </svg>

        <h2 class="fw-normal">{{worker.first_name}} {{worker.last_name}}</h2>
        <p>Health Worker</p>
        <p><a class="btn btn-primary" href={% url 'request-appointment' %}>Request Appointment</a></p>
    </div>
    {% endfor %}
</div>

{% endblock %}