{% extends '../base.html' %}

{% block content %}
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Welcome, Marvellous</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item pt-3 pb-2"><a href="javascript: {document.getElementById('logout').submit()}" class="nav-link">Logout</a></li>
        <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden"/>
          </form>
    </ul>
</header>

<div class="col m-5 p-5 pt-0">
    <h3>Patient Details</h3>
    <form action="" method="POST">
    {% csrf_token %}
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating mb-3">
                <input name="first_name" type="text" class="form-control" id="floatingInputGrid" placeholder="First name">
                <label for="floatingInputGrid">First name</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <input name="last_name" type="text" class="form-control" id="floatingInputGrid" placeholder="Last name">
                <label for="floatingInputGrid">Last name</label>
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input name="email" type="email" class="form-control" id="floatingInputGrid" placeholder="Email">
        <label for="floatingInputGrid">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input name="phone" type="tel" class="form-control" id="floatingInputGrid" placeholder="+234-xxx-xxx-xxxx">
        <label for="floatingInputGrid">Phone</label>
    </div>
    <h5>Emergency contact details</h5>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating mb-3">
                <input name="emergency_full_name" type="text" class="form-control" id="floatingInputGrid" placeholder="Full name">
                <label for="floatingInputGrid">Full name</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <input name="emergency_phone" type="text" class="form-control" id="floatingInputGrid" placeholder="+234-xxx-xxx-xxxx">
                <label for="floatingInputGrid">Phone</label>
            </div>
        </div>
        {% comment %} <div class="mb-3">
            <label name="symptom" for="exampleFormControlTextarea1" class="form-label">Describe Symptoms</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Describe how you've been feeling and anything that feels out of the ordinary..."></textarea>
          </div> {% endcomment %}
    </div>
    <div class="row g-2">
        {% comment %} <div class="col-md">
            <div class="form-floating mb-3">
                <input name"date" type="text" class="form-control" id="floatingInputGrid" placeholder="e.g 04/01/2023">
                <label for="floatingInputGrid">Preferred date</label>
            </div>
        </div> {% endcomment %}
        <div class="col-md">
            <div class="form-floating mb-3">
                <input name="time" type="text" class="form-control" id="floatingInputGrid" placeholder="e.g. 2:00pm">
                <label for="floatingInputGrid">Preferred date and time (e.g 4/1/2023, 2:00pm)</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <input name="desc" type="text" class="form-control" id="floatingInputGrid" placeholder="e.g. 2:00pm">
                <label for="floatingInputGrid">Symptoms</label>
            </div>
        </div>
    </div>
    <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Request Appointment</button></div>
</form>
</div>
{% endblock %}